.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: black;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color : white;
}

.auth h1 {
  text-align: center;
  color: white;
}

.outerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a892ee;

}
.welcome {
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* Set your desired color */
}
.innerBox {
  padding: 2rem;
  background-color:  #a892ee; 
  border: 3px solid #40005d;
  border-radius: 8px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* Set your desired color */
}
.control {
  margin-bottom: 15px;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.control input {
  display : block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.actions {
  text-align: center;
  margin: 20px;
  width : 380px
}

.actions>.titlebutton {
  font: inherit;
  cursor: pointer;
  padding: 0.3rem 1.2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 10px;
  margin-right: 1rem;
}

.actions>.titlebutton:hover {
  background-color: #40005d; /* Change the hover background color to your preference */
}
.actions .linkButton {
  margin-top: 1rem;
  background-color: transparent;
  color: #10011a;
  border: none;
  padding: 0.15rem 1.5rem;
  cursor: pointer;
}
.actions .linkButton:hover {
  background-color: transparent;
  color: #154fee;
}

.actions>.toggle{
background-color: #40005d;
color: white;
border: 1px solid white;
padding: 0.5rem 0.4rem;
cursor: pointer;
border-radius : 10px;
margin-right: 0.1rem;
}
.actions>.toggle:hover{
  border: 1px solid ;
}