.home {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px; /* Add padding for spacing */
  }
  
  .home span {
    color: white; /* Set text color to white */
  }
  
  .home a {
    color: #007bff; /* Set link color to blue (adjust as needed) */
    text-decoration: none; /* Remove underline from the link */
   
  }
  .but{
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top : 20px;
  }
  .innerbut{
    background-color: black;
    padding: 4px;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    cursor: pointer;
    color : white;
    transition: background-color 0.3s; 
  }
  .innerbut:hover{
    background-color: white;
    color : black
  }
  .logout{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items : center
  }

  