.home {
  font: inherit;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #40005d;
  padding: 10px;
  z-index: 999;
  margin-bottom: 700px; 
}

  
  .home span {
    color: white;
  }
  
  .home a {
    color: #007bff; 
    text-decoration: none; 
   
  }
  .home>.innerbut{
    font: inherit;
    cursor: pointer;
    padding: 0.3rem 0.3rem;
    border: 1px solid white;
    background-color: #a892ee;
    color: #40005d;
    border-radius: 5px;
    margin-right: 1rem;
  }
  .home>.innerbut:hover{
    background-color: lightblue;
    border: 1px solid white;
    color : #40005d;
  }

  .newexpense {
    background-color: #a892ee;
    padding: 1rem;
    margin: 3.42rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  .newexpense button {
      font: inherit;
      cursor: pointer;
      padding: 1rem 2rem;
      border: 1px solid #40005d;
      background-color: #40005d;
      color: white;
      border-radius: 12px;
      margin-right: 1rem;
    }
    
    .newexpense button:hover,
    .newexpense button:active {
      background-color: #510674;
      border-color: #510674;
    }
    
    .newexpense button.alternative {
      color: #220131;
      border-color: transparent;
      background-color: transparent;
    }
    
    .newexpense button.alternative:hover,
    .newexpense button.alternative:active {
      background-color: #ddb3f8;
    }